header
  .container
    .intro-text
      h1.intro-heading
        img(
          src='/images/logo.png',
          alt='LudeCat Logo',
          width='200',
          heiht='200'
        ).img-circle.img-border
        br
        .logo LudeCat #4
        br
        | Salzburg
        br
        | March 3rd 2017
      .intro-lead-in play.compete.cheer
      br
      img(
        src='/images/logo-fhsalzburg.png',
        alt='Fachhochschule Salzburg',
        width='300',
        height='100'
      )
      br
      br
      a.page-scroll.btn.btn-xl.ticket-now-fix(href='#register')
        | Register
