header
  .container
    .intro-text
      h1.intro-heading 
        img(
          src='/images/logo.png',
          alt='LudeCat Logo',
          width='200',
          heiht='200'
        ).img-circle.img-border
        br
        .logo LudeCat #3
        br
        | Salzburg
        br
        | September 30th 2016
      .intro-lead-in play.compete.cheer
      br
      img(
        src='/images/logo-fhsalzburg.jpg',
        alt='Fachhochschule Salzburg',
        width='400',
        height='135'
      )
      br
      br
      a.page-scroll.btn.btn-xl.ticket-now-fix(href='#register')
        | Register
