section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Team
    .row
      .col-sm-4.col-sm-offset-2
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/florian.jpg',
            srcset='images/team/florian@2x.jpg 2x', 
            alt='Florian Jindra'
          )
          h4 Florian Jindra
          p.text-muted
            a(href='http://www.florian-jindra.com/') Florian Jindra
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/GamesWorkshopS')
                i.fa.fa-twitter
            li
              a(href='https://github.com/florianjindra')
                i.fa.fa-github-alt
            li
              a(href='http://www.florian-jindra.com/')
                i.fa.fa-globe
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
          width='225',
          height='225',
          src='images/team/michi.jpg',
          srcset='images/team/michi@2x.jpg 2x',
          alt='Michael Großauer'
          )
          h4 Michael Großauer
          p.text-muted
            a(href='http://fh-salzburg.ac.at') Fachhochschule Salzburg
    .row
      .col-sm-3
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/giulia.jpg', 
            srcset='images/team/giulia@2x.jpg 2x', 
            alt='Giulia Noordeloos'
          )
          h4 Giulia Noordeloos
          p.text-muted
            a(href='http://fh-salzburg.ac.at') Fachhochschule Salzburg
      .col-sm-3
        .team-member
          img.img-responsive.img-circle(
          width='225',
          height='225',
          src='images/team/ricarda.jpg',
          srcset='images/team/ricarda@2x.jpg 2x',
          alt='Ricarda Studeny'
          )
          h4 Ricarda Studeny
          p.text-muted
            a(href='http://fh-salzburg.ac.at') Fachhochschule Salzburg
      .col-sm-3
        .team-member
          img.img-responsive.img-circle(
          width='225',
          height='225',
          src='images/team/david-fasching.jpg',
          srcset='images/team/david-fasching@2x.jpg 2x',
          alt='David Fasching'
          )
          h4 David Fasching
      .col-sm-3
        .team-member
          img.img-responsive.img-circle(
          width='225',
          height='225',
          src='images/team/patrick-obermueller.jpg',
          srcset='images/team/patrick-obermueller@2x.jpg 2x',
          alt='Patrick Obermüller'
          )
          h4 Patrick Obermüller
    .row
      .col-sm-3.col-sm-offset-3
        .team-member
          img.img-responsive.img-circle(
          width='225',
          height='225',
          src='images/team/david-lins.jpg',
          srcset='images/team/david-lins@2x.jpg 2x',
          alt='David Lins'
          )
          h4 David Lins
      .col-sm-3
        .team-member
          img.img-responsive.img-circle(
          width='225',
          height='225',
          src='images/team/markus.jpg',
          srcset='images/team/markus@2x.jpg 2x',
          alt='Markus Mußnig'
          )
          h4 Markus Mußnig

    .row
      .col-sm-3.col-xs-12.col-sm-offset-3.col-xs-offset-0.text-center
        a(href='https://multimediatechnology.at', target='_blank')
          img(
            width='129',
            height='150',
            src='images/logo-mmt.png',
            alt='MultiMediaTechnology'
          )
      .col-sm-3.col-xs-12.text-center
        a(href='https://multimediaart.at', target='_blank')
          img(
            width='133',
            height='150',
            src='images/logo-mma.png',
            alt='MultiMediaArt'
          )
