section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Euer Team
        h3.section-subheading.text-muted 
          | Wir sind euer LudeCat Team. Bei Fragen könnt Ihr uns jederzeit 
          a(href='mailto:florian@lude.cat') kontaktieren
          | .
    .row
      .col-sm-4.col-sm-offset-2
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/florian.jpg',
            srcset='images/team/florian@2x.jpg 2x', 
            alt='Florian Jindra'
          )
          h4 Florian Jindra
          p.text-muted
            a(href='http://www.florian-jindra.com/') Florian Jindra
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/GamesWorkshopS')
                i.fa.fa-twitter
            li
              a(href='https://github.com/florianjindra')
                i.fa.fa-github-alt
            li
              a(href='http://www.florian-jindra.com/')
                i.fa.fa-globe
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
          width='225',
          height='225',
          src='images/team/michi.jpg',
          srcset='images/team/michi@2x.jpg 2x',
          alt='Michael Großauer'
          )
          h4 Michael Großauer
          p.text-muted
            a(href='http://fh-salzburg.ac.at') Fachhochschule Salzburg
    .row
      .col-sm-3
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/hannes.jpg', 
            srcset='images/team/hannes@2x.jpg 2x', 
            alt='Hannes Moser'
          )
          h4 Hannes Moser
          p.text-muted
            a(href='http://fh-salzburg.ac.at') Fachhochschule Salzburg
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/eliias')
                i.fa.fa-twitter
            li
              a(href='https://github.com/eliias')
                i.fa.fa-github-alt
            li
              a(href='http://die.netzarchitekten.com')
                i.fa.fa-globe
      .col-sm-3
        .team-member
          img.img-responsive.img-circle(
          width='225',
          height='225',
          src='images/team/joey.jpg',
          srcset='images/team/joey@2x.jpg 2x',
          alt='Josef Schinwald'
          )
          h4 Josef Schinwald
          p.text-muted
            a(href='http://fh-salzburg.ac.at') Fachhochschule Salzburg
      .col-sm-3
        .team-member
          img.img-responsive.img-circle(
          width='225',
          height='225',
          src='images/team/david-fasching.jpg',
          srcset='images/team/david-fasching@2x.jpg 2x',
          alt='David Fasching'
          )
          h4 David Fasching
      .col-sm-3
        .team-member
          img.img-responsive.img-circle(
          width='225',
          height='225',
          src='images/team/andreas-lang.jpg',
          srcset='images/team/andreas-lang@2x.jpg 2x',
          alt='Andreas Lang'
          )
          h4 Andreas Lang
    .row
      .col-sm-3.col-sm-offset-1
        .team-member
          img.img-responsive.img-circle(
          width='225',
          height='225',
          src='images/team/david-lins.jpg',
          srcset='images/team/david-lins@2x.jpg 2x',
          alt='David Lins'
          )
          h4 David Lins
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
          width='225',
          height='225',
          src='images/team/paolo-schmidt.jpg',
          srcset='images/team/paolo-schmidt@2x.jpg 2x',
          alt='Paolo Schmidt'
          )
          h4 Paolo Schmidt
      .col-sm-3
        .team-member
          img.img-responsive.img-circle(
          width='225',
          height='225',
          src='images/team/patrick-obermueller.jpg',
          srcset='images/team/patrick-obermueller@2x.jpg 2x',
          alt='Patrick Obermüller'
          )
          h4 Patrick Obermüller

    .row
      .col-lg-8.col-lg-offset-2.text-center
        p.text-muted
          include:markdown fh.md
